.mouvements{
  display: flex;
  flex-direction: column;
  margin: 70px;
}

.amouvement{
  margin: 20px;
  width : 600px;
  display: flex;
  text-align: justify;
}

.imgmvt{
  width:200px;
  height: 300px;
}

.dispoMvt {
  margin: 10px;
}

@media screen and (max-width: 600px) {
   .amouvement{
    display: flex;
    flex-direction: column;
    width : 400px;
  }
}